[MASTER]
ignore-paths=alembic/
load-plugins=pylint_pydantic
fail-under=8
good-names=db,id

[MESSAGES CONTROL]
disable=C0111,C0301,W0511
# C0111 - missing-docstring
# C0301 - line-too-long
# W0511 - fixme
